<link rel="stylesheet" href="/css/home.css">
<div id="heading">
    TO-DO APP
</div>
<div id="list-container">
    <div id="insert-container">
        <div>
            <form id="input-cont" action="" method="POST">
                <span>
                    <i class="fas fa-file-medical"></i>
                </span>
                <input  type="text",name="description" placeholder="what do you need to do?">
                <span>
                    <a href="">
                        <i class="far fa-plus-square"></i>
                    </a>
                    
                </span>
            </form>
        </div>
    </div>

</div>